.Grid{
  height: auto;
  width: 80%;
}
.Heading{
    font-weight: bold;
}

table, td, th {  
 
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}

hr{
  border-bottom:1px solid #eee;
  border:1px solid #eee;
}

.LoadingPadding{
  padding-left: 45%
}